
.add-content {
    padding: 50px 0;
    max-width: 600px;
    margin: 0 auto;
}

.add-content .input-container input {
    width: 100%;
    background-color: var(--primary);
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: var(--white);
    font-size: 1.25rem;
}

/* Responsive input styles */
@media (max-width: 576px) {
    .add-content .input-container input {
        font-size: 1rem; /* Smaller font size on mobile */
    }
}

.results {
    padding: 0;
    margin: 0;
    margin-top: 20px;
}
